{
    "openapi": "3.0.3",
    "info": {
        "version": "1.1.4",
        "title": "GitHub v3 REST API",
        "description": "GitHub's v3 REST API.",
        "license": {
            "name": "MIT",
            "url": "https://spdx.org/licenses/MIT"
        },
        "termsOfService": "https://docs.github.com/articles/github-terms-of-service",
        "contact": {
            "name": "Support",
            "url": "https://support.github.com/contact?tags=dotcom-rest-api"
        },
        "x-github-plan": "api.github.com"
    },
    "servers": [
        {
            "url": "https://api.github.com",
            "description": "GitHub's v3 REST API"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "summary": "GitHub API Root",
                "description": "Get Hypermedia links to resources accessible in GitHub's REST API",
                "tags": [
                    "meta"
                ],
                "operationId": "meta/root",
                "responses": {
                    "200": {
                        "description": "Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/root"
                                },
                                "examples": {
                                    "default": {
                                        "$ref": "#/components/examples/root"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-github": {
                    "githubCloudOnly": false,
                    "enabledForGitHubApps": true,
                    "category": "meta"
                },
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://docs.github.com/rest/overview/resources-in-the-rest-api#root-endpoint"
                }
            }
        },
        "/user/repos": {
            "get": {
                "summary": "List repositories for the authenticated user",
                "description": "Lists repositories that the authenticated user has explicit permission (`:read`, `:write`, or `:admin`) to access.\n\nThe authenticated user has explicit permission to access repositories they own, repositories where they are a collaborator, and repositories that they can access through an organization membership.",
                "tags": [
                    "repos"
                ],
                "operationId": "repos/list-for-authenticated-user",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://docs.github.com/rest/reference/repos#list-repositories-for-the-authenticated-user"
                },
                "parameters": [
                    {
                        "name": "visibility",
                        "description": "Limit results to repositories with the specified visibility.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all",
                                "public",
                                "private"
                            ],
                            "default": "all"
                        }
                    },
                    {
                        "name": "affiliation",
                        "description": "Comma-separated list of values. Can include:  \n\\* `owner`: Repositories that are owned by the authenticated user.  \n\\* `collaborator`: Repositories that the user has been added to as a collaborator.  \n\\* `organization_member`: Repositories that the user has access to through being a member of an organization. This includes every repository on every team that the user is on.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "owner,collaborator,organization_member"
                        }
                    },
                    {
                        "name": "type",
                        "description": "Limit results to repositories of the specified type. Will cause a `422` error if used in the same request as **visibility** or **affiliation**.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all",
                                "owner",
                                "public",
                                "private",
                                "member"
                            ],
                            "default": "all"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "The property to sort the results by.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "created",
                                "updated",
                                "pushed",
                                "full_name"
                            ],
                            "default": "full_name"
                        }
                    },
                    {
                        "name": "direction",
                        "description": "The order to sort by. Default: `asc` when using `full_name`, otherwise `desc`.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/repository"
                                    }
                                },
                                "examples": {
                                    "default": {
                                        "$ref": "#/components/examples/repository-items-default-response"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/validation_failed"
                    },
                    "304": {
                        "$ref": "#/components/responses/not_modified"
                    },
                    "403": {
                        "$ref": "#/components/responses/forbidden"
                    },
                    "401": {
                        "$ref": "#/components/responses/requires_authentication"
                    }
                },
                "x-github": {
                    "githubCloudOnly": false,
                    "enabledForGitHubApps": false,
                    "category": "repos",
                    "subcategory": null
                }
            }
        }
    }
}